<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <br><br>
      <div class="column1">
          <form target="ifr" action="/detectHTML" id="post" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="trainFile">Choose a train file:</label>
              <br>
              <input type="file" name="trainFile" id="" required class="form-control">
            </div>
            <br>
            <div class="form-group">
                <label for="testFile">Choose a test file:</label>
                <br>
                <input type="file" name="testFile" id="" required class="form-control">
            </div>
            <div class="form-group" >             
                <select class="algo_choice" name="algo_choice" required class="form-control">
                  <option name="" value="" selected>Select Algorithm</option>
                  <option name="Hybrid" value="Hybrid">Hybrid Anomaly Detector</option>
                  <option name="Simple" value="Simple">Simple Anomaly Detector</option>
                 
                </select>

                <button>Upload</button>
            </div>   
        </form>
      </div>
      <div class="column2" >
          <iframe id="ifr" name="ifr" width="80%" height="70%" frameborder="1px"></iframe>
                  
      </div>

        <br><br>
        <%- include("./partials/footer.ejs") %>


</body>

</html>