<!-- <!DOCTYPE html> -->
<html lang="en">

  <!-- <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head> -->
  <%- include("./partials/head.ejs") %>
  <body>
    <br><br>
      <div class="container">
          <form action="/uploadfile" id="post" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="file1">Upload File 1:</label>
              <br>
              <input type="file" name="file1" id="" required class="form-control">
            </div>
            <br>
            <div class="form-group">
                <label for="file2">Upload File 2:</label>
                <br>
                <input type="file" name="file2" id="" required class="form-control">
              </div>
              <div class="form-group" >             
                  <select class="algo_choice" name="algo_choice" required class="form-control">
                    <option name="" value="" selected>Select Algorithm</option>
                    <option name="Circle" value="Circle">Circle</option>
                    <option name="Line" value="Line">Line</option>
                   
                </select>


                  <button>
                      Upload
                  </button>
              </div>
        </form>
      </div>
      <form>
      
        <div>
          <code><pre><%=JSON.stringify(jsonData)%></pre></code>
        </div>
        <br />
   
</form>
        <%- include("./partials/footer.ejs") %>
</body>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
</html>